@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


*, html, body {
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color:rgb(163, 106, 106);
}
main { 
    background-image: url("/images/backround.png");
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.5em;
}
p {
    font-size: 1em;
}
header {
  height: 350px;
}
header .banner {
    width: 100%;
    height: 300px;
    text-align: center;
}
.banner div {
    background-color: rgb(194, 194, 51) ;
    opacity: 0.7;
    width: 100%;
    height: 100px;
}
.banner div h1 {
    color: white;
    font-size: 5em;
    opacity: 1 !important;
}
.images {
   display:flex;
   flex-direction: column;
    padding: 0px;
    margin: 0px;
    clear: both;
    border: 2px solid #fd79a8;
    width: 50%;
}

.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 25px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  
  
  .navbar a{
    font-size: 25px; 
  }
main {
    padding-left: 10%;
}

main div {
    margin-bottom: 30px;
}

footer {
    text-align: center;
}
